html {
    display: flex;
    justify-content: center;
}
.calculator {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px;
    width: 500px;
    height:fit-content;
    background-color: black;
    border-style: solid;
    border-color: black;
    border-radius: 5%;
}
.calculator .monitor {
    background-color: lightgreen;
    min-height: 120px;
    box-sizing: border-box;
    border-style: solid;
    border-color: dimgrey;
}
.calculator .buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    gap: 32px;
    padding: 0px;
}
.calculator .left {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.calculator .reset {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.calculator .numbers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap:48px;
    justify-content: space-around;

}
.calculator .right {
    display: flex;
    flex-direction: column;
    gap: 48px;
    

}

.erase, .clear,
.one, .two, .three, 
.four, .five, .six,
.seven, .eight, .nine,
.zero,
.plus, .minus, 
.times, .obelus,
.equals {
    padding: 25px;
    border-radius: 100%;
    font-size: xx-large;
    align-items: center;
}



.erase, .clear {
    background-color: slateblue;
}

.plus, .minus, 
.times, .obelus,
.equals {
    display: flex;
    background-color: tomato;
    justify-content: center;
    align-items: center;
}

.one, .two, .three, 
.four, .five, .six,
.seven, .eight, .nine,
.zero {
    background-color: lightcoral;
}

.equals {
    background-color:royalblue;
}

.left {
  flex: 0 0 65%;   
}

.right {
  flex: 0 0 20%;   
}
